doctype html
html
  head
    link(rel='stylesheet', href='/css/index.css')
    title Simple Location
  body
    .header
      h1.page-title SIMPLE LOCATION

    ul.nav
      li: a(href='/') HOME
      li: a(href='#live') LIVE
      li: a(href='#status') STATUS

    .main-content
      block content

    .footer
      p Copyright © 2020 Ricoh Innovations, Corporation
